@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #fff;
    font-size: 3.8rem;
}

.banner .content p {
    color: #fff;
    font-size: 1.1rem;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner header .toggle {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(assets/toggle.png);
    background-size: cover;
    cursor: pointer;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBox {
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBox {
    background: url(assets/window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;

}

.services {
    background-color: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBox {
    position: relative;
    background-color: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .container .serviceBox img {
    max-width: 100px;
}

.services .container .serviceBox h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.technology {
    background-color: #3f8ffc;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology .contentBox {
    max-width: 600px;
    margin-right: 20px;

}

.technology .imageBox {
    max-width: 200px;
}

.technology .imageBox img {
    max-width: 100%;
}

.client {
    background-color: #162c3b;
    padding: 100px;
    text-align: center;
}

.client .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imageBox img {
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}

.client .imageBox img:hover {
    opacity: 1;
}